<!--index.ejs, Leticia Lopez, 301087698, 09-10-2020-->
<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

               <main class="container" >
          <div class="jumbotron" style="background-color: #FFD6C3">
            <h1 class="display-4"  style="color: #FF5733; height: 0px; text-align: center">Welcome to the <%= title %> page</h1>



          </div>
        </main>
    


    <%- include partials/bottom_nav.ejs%>

  
    <%- include partials/footer.ejs%>











